.center{
	width: 150px;
	margin: 40px auto;
}

.inputmnz {
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}


.disableBuy {
	opacity: 0.65; 
 	cursor: not-allowed;
}