<template name="buyview">
  <br>
  <br>
  <div>
    <h2>Buy Monaize</h2>
    <div class="input-group">
      <input id="buyamount" type="number" name="quant[2]" class="form-control input-number inputmnz" value="{{defaultValueMIN}}" min="{{defaultValueMIN}}" max="{{defaultValueMAX}}" step="{{defaultValueMIN}}">
      <span class="input-group-addon">MNZ for {{currentvalue}}</span>
      <select id="category-select" class="form-control">
        {{#each categories}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <span class="input-group-btn">
        {{#if isBuying}}
          {{> loader}}
        {{else}}
          <button type="submit" href="#" class="btn btn-primary btn-success pull-right buy
          {{#if disableBuy}}
            disableBuy
          {{/if}}
          ">Buy</button>
        {{/if}}
      </span>
    </div>
  </div>
</template>