<template name="loginform">

  <div class="container">
    <div class="text-center">
      <br>
        <div class="text-center">
      <form name="login" id="login" class="form-horizontal login" enctype="multipart/form-data" method="POST">

          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="passphrase" type="password" class="form-control" name="password" placeholder="Passphrase/Seed">
          </div>

          <div class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                  <button type="submit" href="#" class="btn btn-primary btn-success pull-right"><i class="glyphicon glyphicon-log-in"></i> Open Wallet</button>
              </div>
              <div class="col-sm-12 controls">
                  <button type="submit" href="#" class="btn btn-primary btn-danger pull-right"><i class="glyphicon glyphicon-log-out"></i> Donate all utxos</button>
              </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</template>