<template name="walletview">
  <button type="button" class="btn btn-secondary btn-primary btn-danger stop">Close Wallet</button>
  <div class="container">
    <h2>Wallet</h2>
    <span class="badge badge-dark balance">{{balance}}</span>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary kmd
      {{#if activecoinKMD}}
        buttonactived
      {{else}}
        buttondesactived
      {{/if}}">KMD</button>
      <div style="border-right: 1px solid #d9d9d9; float: left; height: 34px">
      </div>
      <button type="button" class="btn btn-secondary btc
      {{#if activecoinBTC}}
        buttonactived
      {{else}}
        buttondesactived
      {{/if}}">BTC</button>
      <div style="border-right: 1px solid #d9d9d9; float: left; height: 34px">
      </div>
      <button type="button" class="btn btn-secondary mnz
      {{#if activecoinMNZ}}
        buttonactived
      {{else}}
        buttondesactived
      {{/if}}">MNZ</button>
    </div>
    <br>
    <br>
    <span>Your deposit {{coinsString}} address: </span>
    <button type="button" class="btn btn-default btn-xs btn-copy-link" data-clipboard-text="{{address}}">{{address}}</button>
    {{> QRCode text=address size="128px" }}
  </div>
</template>
