<template name="walletview">
  <div class="content">
    <div class="row-header">
      <div class="col-header">
        <h3>Balances</h3>
      </div>
      <div class="col-header text-right">
        <div>
          <h5>TOTAL BALANCES</h5>
        </div>
        <div>
          <span id="totalBalanceUsd">$ 16 689.01</span>
        </div>
      </div>
    </div>
      {{#each balances}}
        {{> balanceItem}}
      {{/each}}
  </div>
</template>

<template name="balanceItem">
    <div class="row-main-item">
      <div class="row-title">
        <h2 id="balance-item">{{balance}}</h2>
        <h2 id="coin-item">{{coin}}</h2>
      </div>
      <div class="row-content">
        <p class="col-header">16 689.01 US Dollar</p>
        <button id="{{coin}}" type="button" class="btn qrcode">SEE YOUR QR CODE<span class="glyphicon glyphicon-qrcode"></span></button>
      </div>
      <div class="row-footer">
        <p class="col-header">You deposit {{coinString}} address :</p>
        <div class="card">
          <button type="button" class="btn btn-copy-link" data-clipboard-text="{{smartaddress}}">
            <div class="btn-inside-qrcode">
              {{smartaddress}}
            </div>
          </button>
        </div>
      </div>
      <hr/>
    </div>
</template>